<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>THX | Login</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,maximum-scale=1">
    <link rel="stylesheet" href="/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png?v=pgdmXmoa2w">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png?v=pgdmXmoa2w">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png?v=pgdmXmoa2w">
    <link rel="manifest" href="/site.webmanifest?v=pgdmXmoa2w">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg?v=pgdmXmoa2w" color="#5bbad5">
    <link rel="shortcut icon" href="/img/icons/favicon.ico?v=pgdmXmoa2w">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/06b7267748.js" crossorigin="anonymous"></script>
</head>

<body class="d-flex w-100 h-100 bg-light align-items-center justify-content-center">
    <div class="container">
        <div class="row pt-sm-5 pb-sm-5">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 order-0 order-sm-1">
                <div class="text-center pb-4 pt-4">
                    <img src="/img/logo.png" width="60" alt="THX Logo" />
                </div>
                <div class="card shadow-sm mb-5">
                    <div class="card-body pt-sm-5 px-sm-5 pb-sm-3">
                        <% if (alert && alert.message) { %>
                            <strong class="h2 d-block text-dark text-center mb-4">
                                Oops...
                            </strong>
                            <div class="alert alert-<%= alert.variant %>">
                                <%= alert.message %>
                            </div>
                            <% } else { %>
                                <strong class="h2 d-block text-dark text-center mb-4">
                                    Congratulations!
                                </strong>
                                <p>Your e-mail address has been verified.</p>
                                <a href="<%= params.return_url %>" class="btn rounded-pill btn-primary btn-block">
                                    Sign in
                                </a>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                'event': 'gtm.js',
            });
            const f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', "<%= gtm %>");
    </script>
</body>

</html>