@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,400i,700,700i,900,900i');

// Required
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/functions';
@import './scss/variables';
@import '../node_modules/bootstrap/scss/variables';

// Optional
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/type';

// Defaults
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/badge';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/custom-forms';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/tooltip';

// Reset
@import './scss/root';

// UI Components
@import './scss/buttons';
@import './scss/card';
@import './scss/forms';
